.kt-header__topbar-item .kt-header__topbar-user .userlink {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.loginFields {
    margin-bottom: 5px;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title {
    margin-bottom: 20px!important;
}
.kt-login__form .registerFields {
    margin-bottom: 10px;
}
.kt-login__head .accountLink {
    padding: 0px 12px;
}
.postimage {
    height: 100px;
}
