.kt-header__topbar-item .kt-header__topbar-user .userlink {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.loginFields {
    margin-bottom: 5px;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title {
    margin-bottom: 20px!important;
}
.kt-login__form .registerFields {
    margin-bottom: 10px;
}
.kt-login__head .accountLink {
    padding: 0px 12px;
}
.postimage {
    height: 100px;
}
.countryDropdown span.select2 {
    width:100%!important;
}
.countryDropdown span.select2 .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: 50%!important;
}
.countryDropdown span.select2 .select2-selection--single .select2-selection__rendered {
    line-height: 38px!important;
    padding-left: 12px!important;
}
.countryDropdown span.select2 .select2-selection--single {
    height: 38px!important;
    border: 1px solid #e2e5ec!important;
    outline: none!important;

}
.kt-nav {
    padding:0!important;
}
.dropdown-menu.dropdown-menu-fit {
    padding:1rem 0!important;
}
.profileImageSide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profileImageSide label.col-form-label {
    font-size: 22px;
}
.profileImageSide .profileImage .text-muted {
    font-size: 20px;
}
.profileImageSide .profileImage .kt-avatar .kt-avatar__holder {
    width: 220px;
    height: 220px;
}
.profileImageSide .profileImage {
    text-align: center;
}
.alert button.close {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #fff;
    opacity: 1;
    font-size: 26px;
}
.alert {
    position: relative;
    padding: 16px 0px;
    font-size: 17px;
}

.gymDropdown span.select2 {
    width:100%!important;
}
.gymDropdown span.select2 .select2-selection--multiple .select2-selection__arrow {
    height: auto;
    top: 50%!important;
}
.gymDropdown span.select2 .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 14px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    padding: 2px;
}
.gymDropdown span.select2 .select2-selection--multiple {
    height: 38px!important;
    border: 1px solid #e2e5ec!important;
    outline: none!important;

}
